.App{
    height: 100%;
    width: 100%;
    max-width: 550px;
    padding-top: 5.25rem;
    box-sizing: border-box;
}
@media screen and (max-width:622px){
    body{
        overflow:hidden;
        box-sizing: border-box;
        padding: 1.5rem 2.1875rem;
        background-color: white;
    }     
}
@media screen and (min-width:622px) {
    body{
        overflow:hidden;
        box-sizing: border-box;
        padding: 1.5rem 0;
        background-color: white;
    }
    #root{
        margin: 0 auto;
    }
}
.re1{
    width: 41.375rem;
    height: 32.5625rem;
    background-color: #001139;
    border-radius: 50%;
    position: fixed;
    top:-40%;
    left:50%;
    transform: translate(-50%, 0);
    z-index: -1;
}
.re2{
    width: 41.375rem;
    height: 32.5625rem;
    background-color: #10091C;
    border-radius: 50%;
    position: fixed;
    bottom: -20%;
    left:50%;
    transform: translate(-50%, 0);
    z-index: -1;
}